<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="css/style-login.css">

</head>

<body>
	<h1 class="header">価格記録システム</h1>
	<br>
	<br>

	<!-- 画面名表示 -->
	<div class="systemName">ログイン画面</div>

	<form action>
	<!-- ID入力欄 -->
	<div class="id">
		<div class="titleId">
			ID:
		</div>
		<div class="inputId">
				<input type="text" name="ID">
		</div>
	</div>
	
	<!-- パスワード入力欄 -->
	<div class="passwd">
	  <form action="login" method=get>
		<div class="titlePasswd">
			パスワード:
		</div>
		<div class="inputPasswd">
				<input type="text" name="Password">
		</div>
	  </form>
	</div>
	
	<input type="submit" value="ログイン">
	</form>
	
	

</body>

</html>